<div id="container">
  <div id="heading">
    <h3>GUILTY PLEASURE GENERATOR</h3>
  </div>
  <div id="pleasure">
    <textarea placeholder="Drumroll please" rows=6></textarea>
  </div>

  <div id="button">
    <button class="button">Generate Pleasure</button>
  </div>
</div>
